html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
textarea {
	outline: none;
	font-size: 16px !important;

	&::placeholder {
		font-size: 16px !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

body {
	font-family: "Lato", sans-serif;
	// font-family: "Sora", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	color: rgb(0, 8, 21);
}

body.lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: rgb(0, 8, 21);
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	padding: 11px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	cursor: pointer;
	outline: none;
	border: 1px solid rgb(33, 154, 130);
	border-radius: 12px;
	background: rgb(33, 154, 130);
	border: 1px solid transparent;
	transition: linear .2s;

	svg {
		margin: 0 0 0 10px;

		path {
			transition: linear .2s;
		}
	}

	&:hover {
		border-color: rgb(33, 154, 130);
		background: rgba(33, 154, 130, 0.1);
		color: rgb(33, 154, 130);

		svg {
			path {
				fill: rgb(33, 154, 130);
			}
		}
	}
}

//
.irs--flat .irs-min,
.irs--flat .irs-max {
	display: none;
}

.irs--flat .irs-single {
	left: 50% !important;
	transform: translateX(-50%);
}

.irs--flat .irs-single:before {
	display: none;
	color: rgb(33, 154, 130);
	font-family: "Sora", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 0px;
}